
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Condensed&display=swap');
    </style>
<div class="container-12">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <label class="logo">SMART</label>
             <label class="logo2">PATH</label>
             <label class="logo">SOFT</label>
            </li>   </ul>
            <div> <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">PATHOLOGIST</label>  </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">{{me.firstname}} {{me.lastname}}</label>  
                
                <label (click)="logout()"  class="stavka3"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;"><a href="/login-patholog">LOGOUT</a></label>      
            </li>   
            </ul>
        
            
                

              
           
     
    
       </nav>
<div class="col-12">
 
    
    <div class="pozadina">
        
      
        <div class="polja">
           <div class="zaglavlje">

            <div class="case">
                <div class="c1">
                    <label>Case ID:</label>
                    <label>First name:</label>
                    <label> Last name:</label>
                </div>
                <div class="c1">
                        <label class="a1">{{my.formatcn}}</label>
                        <label class="a1">{{my.firstname}}</label>
                        <label class="a1">{{my.lastname}}</label>
                </div>
           
            </div>
           <div class="divslike">
            <img src="../../assets/novapl90.png" class="sl1">
           </div>
           <div class="divlabele">
            <label class="l1">{{slide}}</label>
           </div>
           </div>
             <div class="srednji">
                <div class="firstcol">
                    <div class="grossdiv">
                        <div class="gdiv1">
                        <label>GROSSING:</label>
                        </div>
                        <div class="gdiv1">
                            <label>Cassette: </label>
                            <label  class="razm">{{cassette}}</label>
                        </div>
                        <div class="gdiv1">
                            <label>Assistent: </label>
                            <label  class="razm">{{grossasistent.firstname}} {{grossasistent.lastname}}</label>
                        </div>
                    </div>
                    <div class="grossdiv2" *ngIf="myProcess!=null">
                        <div class="gdiv1">
                        <label>PROCESSING:</label>
                        </div>
                        <div class="gdiv1">
                            <label>Processor: </label>
                            <label  class="razm">{{myProcess.processor}}</label>
                        </div>
                        <div class="gdiv1">
                            <label>Protocol: </label>
                            <label  class="razm">{{myProcess.protocol}} </label>
                            
                        </div>
                        <div class="gdiv1">
                            <label>Done: </label>
                            <label  class="razm">{{myProcess.endday}}.{{myProcess.endmonth}}.{{myProcess.endyear}}.   {{myProcess.endhours}}:{{myProcess.endminutes}} </label>
                            
                        </div>
                        <div class="gdiv1">
                            <label>Assistent: </label>
                            <label  class="razm">{{proclab.firstname}} {{proclab.lastname}}</label>
                        </div>
                    </div>
                    <div class="grossdiv">
                        <div class="gdiv1">
                        <label>EMBEDDING:</label>
                        </div>
                        <div class="gdiv1">
                            <label>Done: </label>
                            <label  class="razm">{{myEmb.day}}.{{myEmb.month}}.{{myEmb.year}}.  {{myEmb.time}}:{{myEmb.minute}}</label>
                        </div>
                        <div class="gdiv1">
                            <label>Assistent: </label>
                            <label  class="razm">{{emblab.firstname}} {{emblab.lastname}}</label>
                        </div>
                    </div>
                </div>
                <div class="middlecol">
                    <div class="grossdiv" *ngIf="sectioning!=null">
                        <div class="gdiv1">
                        <label>SECTIONING:</label>
                        </div>
                        <div class="gdiv1">
                            <label>Done: </label>
                            <label  class="razm">{{sectioning.day}}.{{sectioning.month}}.{{sectioning.year}}. {{sectioning.hour}}:{{sectioning.minute}}</label>
                        </div>
                        <div class="gdiv1">
                            <label>Assistent: </label>
                            <label  class="razm">{{sectlab.firstname}} {{sectlab.lastname}}</label>
                        </div>
                    </div>
                    <div class="grossdiv2" *ngIf="myshe!=null">
                        <div class="gdiv1">
                        <label>STAINING H&E:</label>
                        </div>
                        <div class="gdiv1">
                            <label>Stainer: </label>
                            <label  class="razm">{{myshe.stainer}}</label>
                        </div>
                        <div class="gdiv1">
                            <label>Protocol: </label>
                            <label  class="razm">{{myshe.protocol}} </label>
                            
                        </div>
                        <div class="gdiv1">
                            <label>Done: </label>
                            <label  class="razm">{{myshe.endday}}.{{myshe.endmonth}}.{{myshe.endyear}}.   {{myshe.endhours}}:{{myshe.endminutes}} </label>
                            
                        </div>
                        <div class="gdiv1">
                            <label>Assistent: </label>
                            <label  class="razm">{{shelab.firstname}} {{shelab.lastname}}</label>
                        </div>
                    </div>
                    <div class="grossdiv" *ngIf="myCovs!=null">
                        <div class="gdiv1">
                        <label>COVERSLIPPING:</label>
                        </div>
                        <div class="gdiv1">
                            <label>Done: </label>
                            <label  class="razm">{{myCovs.day}}.{{myCovs.month}}.{{myCovs.year}}. {{myCovs.time}}:{{myCovs.minute}}</label>
                        </div>
                        <div class="gdiv1">
                            <label>Assistent: </label>
                            <label  class="razm">{{covslab.firstname}} {{covslab.lastname}}</label>
                        </div>
                    </div>
                </div>
                <div class="thirdcol">
                    <div class="grossdiv3" *ngIf="sectioning!=null">
                        <div class="gdiv1">
                        <label>SENDOUT:</label>
                        </div>
                        <div class="gdiv23">
                            <div class="gdiv1p">
                            <div class="gdiv3">
                                <label class="labs">Assistent </label>
                                <label>Done: </label>
                                <label  class="razm">{{mysend.dan}}.{{mysend.mesec}}.{{mysend.godina}}. {{mysend.sati}}:{{mysend.minuti}}</label>
                              
                            </div>
                            <div class="gdiv3">
                                <label>Assistent: </label>
                                <label  class="razm">{{labsend.firstname}} {{labsend.lastname}}</label>
                            </div>
                            </div>
                            <div class="gdiv1p">
                            <div class="gdiv3">
                                <label class="labs">Pathologist </label>
                                <label>Done: </label>
                                <label class="razm">{{mysend.enddan}}.{{mysend.endmesec}}.{{mysend.endgodina}}. {{mysend.endsati}}:{{mysend.endminuti}}</label>
                               
                            </div>
                            <div class="gdiv3">
                                <label>Patholog: </label>
                                <label  class="razm">{{pathSend.firstname}} {{pathSend.lastname}}</label>
                            </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>