<p>addprotocol works!</p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Condensed&display=swap');
    </style>
<div class="container-12">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <label class="logo">SMART</label>
             <label class="logo2">PATH</label>
             <label class="logo">SOFT</label>
            </li>   </ul>
           
  
        <ul class="navbar-nav">
            <li class="nf">
            <label  class="stavka2"  style="text-align: center; align-self: center;
            align-items: center;
            align-content: center; align-self: center;"  (click)="addadmin()"><a href="/dashfirst">ADMIN</a></label>  </li>
       </ul>
       <ul class="navbar-nav">
        
        <li class="nf2">
            <label (click)="logout()"  class="stavka3"  style="text-align: right; "><a href="/">LOGOUT</a></label>    </li>   
       
        </ul>
            
                

              
           
     
    
       </nav>
<div class="col-12">
 
    
    <div class="pozadina">
        <div class="naslovpoc">
            <hr class="lin">
            <label class="naslovpocLabela">ADD BASKET</label>
            <hr class="lin">
        </div>
        <div class="polja">
            <label class="username" >Basket name:</label>
            <input type="text" class="poljazaUnos" name='username' [(ngModel)]='name'>
            <span class='error'>{{message3}}</span>
          
    
         
        
            <button class="signupDugme" (click)='addProcessor()' >ADD BASKET</button>
            <span class='error' *ngIf="message!='Basket added'">{{message}}</span>
            <span class='error2' *ngIf="message=='Basket added'">{{message}}</span>
        </div>
       

    </div>
    <div class="footer">
        <p>© M-Rising 2022</p>
      </div>
</div>
</div>
