<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Condensed&display=swap');
    </style>
<div class="container-12">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <label class="logo">SMART</label>
             <label class="logo2">PATH</label>
             <label class="logo">SOFT</label>
            </li>   </ul>
            <div>
              <label  class="stavka2"  style="text-align: center; align-self: center;
              align-items: center;
              align-content: center; align-self: center;"><a href="/pathdash">PATHOLOGIST</a></label>  
          </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">{{me.firstname}} {{me.lastname}}</label>  
                <label (click)="logout()"  class="stavka3"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;"><a href="/login-pathologist">LOGOUT</a></label>           
            </li>   
            </ul>
        
            
                

              
           
     
    
       </nav>
<div class="col-12">
 
    
    <div class="pozadina">
      <div class="sve">
        <div class="leftside">
            <div class="selectdiv">
                <label class="labblue1">Choose group:</label>
                <select name="Please-select" [(ngModel)]='groupname' class="selectedit" (change)="promeni()"> 
                    <option value="0"  selected  class="Invalid" hidden>Please Select Groupname</option>
                    <option *ngFor='let a of myPathGroups' >{{a.groupname}}</option>
                </select>
            </div>
            <div *ngIf="choosenGroup!=null" class="gmembers">
                <div class="chrow" >
                <label class="labblue" *ngFor="let b of choosenGroup.ss">{{b}}</label>
                <label class="labblue" *ngFor="let b of choosenGroup.ihc">{{b}}</label>
                
                </div>
                <div class="chrow2" >
                   
                    <button class="dugme" *ngFor="let b of choosenGroup.ss" (click)="deletemember(b)" > X </button>
                    <button class="dugme" *ngFor="let b of choosenGroup.ihc" (click)="deletemember(b)" > X </button>
                    </div>
            </div>
        </div>
        <div class="rightside">
            <div class="searchdiv">
                <input class="insearch" placeholder="🔎︎ Search special stain" [(ngModel)]='searchss' (change)="searchssin()">
                <input class="insearch" placeholder="🔎︎ Search ihc" [(ngModel)]='searchihc'  (change)="searchihcin()">
            </div>
            <div class="menudiv">
            <div class="ssmenu" >
                <form>
                    <div class="multiselect">
                      <div class="selectBox" (click)="showCheckboxes()">
                        <select class="select1">
                          <option>SPECIAL STAIN</option>
                        </select>
                        <div class="overSelect"></div>
                      </div>
                      <div id="checkboxes">
                        <div class="oneopt" *ngFor='let b of niz; let i=index'>
                          <div class="exblop1">
                         {{b}} 
                          </div>
                          <div class="exblop">
                            <button class="dugme2" (click)="addmemberss(b)"> + </button>
                          </div>
                   
                     </div>
            
                      </div>
                    </div>
                  </form>
              </div>
              <div  class="ssmenu">
                <form>
                    <div class="multiselect">
                      <div class="selectBox" (click)="showCheckboxes2()">
                        <select class="select1">
                          <option>IHC</option>
                        </select>
                        <div class="overSelect"></div>
                      </div>
                      <div id="checkboxes1">
                        <div class="oneopt" *ngFor='let b of niz2; let i=index'>
                          <div class="exblop1">
                            {{b}} 
                          </div>
                          <div class="exblop">
                            <button class="dugme2" (click)="addmemberihc(b)"> + </button>
                           </div>
                        </div>
            
                      </div>
                    </div>
                  </form>
              </div></div>
        </div>
    </div></div>
    <div class="footer">
        <p>© M-Rising 2022</p>
      </div>

</div>
</div>

