<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="public/angularPrint/angularPrint.js"></script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Condensed&display=swap');
    </style>
<div class="container-12">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <label class="logo">SMART</label>
             <label class="logo2">PATH</label>
             <label class="logo">SOFT</label>
            </li>   </ul>
            <div>
                <label  class="stavka2" (click)="poc()"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;"><a href="/grossfirst">GROSSING</a></label>  
            </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
            
                   <label  class="stavka2"  style="text-align: center; align-self: center;
                   align-items: center;
                   align-content: center;">dr. {{me.firstname}} {{me.lastname}}</label>  
                
                <label (click)="logout()"  class="stavka3"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;"><a href="/login-grossing">LOGOUT</a></label>      
            </li>   
            </ul>
        
            
                

              
           
     
    
       </nav>
<div class="col-12">
 
    
    <div class="pozadina">
        <div class="pt1">
      <div class="case">
        <div class="c1">
            <label>Case ID:</label>
            <label>First name:</label>
            <label> Last name:</label>
            </div>
            <div class="c1">
                <label class="a1">{{myCase.formatcn}}</label>
                <label class="a1">{{myCase.firstname}}</label>
                <label class="a1">{{myCase.lastname}}</label>
            </div>
   
      </div></div>
    <div class="middle">
<div class="opt">
<div  *ngFor="let s of mySamples; let i=index" (click)="plavi(s, i)">
    <div *ngIf="lamp[i]==0" class="cards">
    <div ><img class="slika2" src="../../assets/Group 752.png"></div>
    <label class="lab2">{{s.slovo}}</label></div>
    <div *ngIf="lamp[i]==1" class="cards1">
        <div ><img class="slika2" src="../../assets/Group 752.png"></div>
        <label class="lab2">{{s.slovo}}</label></div>
</div>

</div>

<div class="k" >
  <div class="adddiv" *ngIf="sem1==1">
    <button class="pm2" (click)="dkas()">DELETE CASSETTE</button>
    <button class="pm2" (click)="pkas()">ADD CASSETTE</button>
  </div>
<div class="zaScroll">
<div class="kasetice" *ngFor="let r of kasetice; let i=index;" ng-app="myApp" ng-controller="myCtrl">

<div class="basic" *ngIf="sem1==1">
    <div class="whitediv">
<div class="plocice1">
<div class="plusminus">
   
</div>
<img class="slika3" src="../../assets/касетица.png" style="text-align: center;">
<label>{{r}}</label>
</div>

<script  type="text/javascript">

    var cmds =  "";
            cmds += "^XA~TA000~JSN^LT0^MNW^MTT^PON^PMN^LH0,0^JMA^PR4,4~SD15^JUS^LRN^CI0^XZ";
            cmds += "^XA";
            cmds += "^MMT";
            cmds += "^PW456";
            cmds += "^LL0650";
            cmds += "^LS0";
            cmds += "^FT0,117^A0N,42,40^FH\^FD1368/22^FS";
            cmds += "^FT0,164^A0N,52,50^FH\^FDB1^FS";
            cmds += "^FT0,332^BQN,2,5";
            cmds += "^FH\^FDLA,[spspIPMF 1368/22, B1 Marko Peric]^FS";
            cmds += "^PQ1,0,1,Y^XZ";



</script>


<div class="pddiv">
<button class="pdButton" (click)="print(i,r)" onclick="printDiv(i)">PRINT</button>
<div print-section>
  ^XA~TA000~JSN^LT0^MNW^MTT^PON^PMN^LH0,0^JMA^PR4,4~SD15^JUS^LRN^CI0^XZ
^XA
^MMT
^PW456
^LL0650
^LS0
^FT0,117^A0N,42,40^FH\^FD1368/22^FS
^FT0,164^A0N,52,50^FH\^FDB1^FS
^FT0,332^BQN,2,5
^FH\^FDLA,[spspIPMF 1368/22, B1 Marko Peric]^FS
^PQ1,0,1,Y^XZ

</div>
</div></div>
<div class="plocice">
    <div class="kaspt2">
    <div class="plusminus">
        <button class="pm" (click)="oduzmip(r)">-</button>
        <button class="pm" (click)="dodp(r)">+</button>
    </div><div class="pl1">
    <img class="slika4" src="../../assets/novaplocica.png" >
    
    <label >{{r}}.{{brP}}</label>
</div>
</div>
    
</div>
<div class="ostplo">
<div class="jedna" >
    
    
    <label class="fl" *ngIf="r.indexOf">x{{plocice[i]}}</label>
</div>
</div>
</div>

<div class="comm">
    <label class="comlab">Comments(ex. slice...)</label>
    <input type="text" class="incom" [(ngModel)]="comm[i]" rows="2" cols="20" >
</div>
</div>
</div>
</div>
<div class="selectm">
   
  <div class="selmenifirst">
    <input class="insearch" placeholder="🔎︎ Search special stain" [(ngModel)]='searchss' (change)="searchssin()">
    <input class="insearch" placeholder="🔎︎ Search ihc" [(ngModel)]='searchihc'  (change)="searchihcin()">
  </div>
  <div class="selmenifirst">
    <form class="fr1">
        <div class="multiselect">
          <div class="selectBox" (click)="showCheckboxes()">
            <select class="select1">
              <option>SPECIAL STAIN</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes">
            <div class="oneopt" *ngFor='let b of array1; let i=index'>
              <div class="exblop1">
             {{b}} 
              </div>
              <div class="exblop">
                <button class="buttss" (click)="exblumanji(i)">-</button>
              <label>{{niz1[i]}}</label>
              
              <button class="buttss1" (click)="exblpovecaj(i)">+</button>
              </div>
       
         </div>

          </div>
        </div>
      </form>
 
  
    <form>
        <div class="multiselect">
          <div class="selectBox" (click)="showCheckboxes2()">
            <select class="select1">
              <option>IHC</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes1">
            <div class="oneopt" *ngFor='let b of array2; let i=index'>
              <div class="exblop1">
                {{b}} 
              </div>
              <div class="exblop">
                <button class="buttss" (click)="exblumanji2(i)">-</button>
                  <label>{{niz2[i]}}</label>
             
                  <button class="buttss1" (click)="exblpovecaj2(i)">+</button>
               </div>
            </div>

          </div>
        </div>
      </form>
    </div>
</div>
<div class="d1" *ngIf="znakD==1 ">
    <div class="d1A">
    <button class="dugme" (click)="addW()">DONE CASSETTE</button>
    <span class='error'>{{message}}</span>
    </div>
    <qr-code  class='ssdiv' *ngIf="qri!=null" [value]="qri"></qr-code>
</div>
<div class="d1" *ngIf="message=='Aleready added' ">
  <div class="d1A">
    <span class='error'>{{message}}</span>
    </div>
</div>
    </div>
    </div>
    <div class="footer">
        <p>© M-Rising 2022</p>
      </div>
</div>
</div>

