<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Condensed&display=swap');
    </style>
<div class="container-12">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <label class="logo">SMART</label>
             <label class="logo2">PATH</label>
             <label class="logo">SOFT</label>
            </li>   </ul>
            <div> <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">SECTIONING</label>  </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">{{me.firstname}} {{me.lastname}}</label>  
                
                <label (click)="logout()"  class="stavka3"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">LOGOUT</label>      
            </li>   
            </ul>
        
            
                

              
           
     
    
       </nav>
<div class="col-12">
 
    
    <div class="pozadina">
        
      
        <div class="polja">
           <div class="leftside">
                <label class="label1"> Scan cassette:</label>
                <div class="lsrow">
                    <input type="text" class="poljazaUnos" [(ngModel)]="cassette" *ngIf="g==0">
                    <input type="text" class="poljazaUnos2" [(ngModel)]="cassette" *ngIf="g==1">
                    <button class="searchButton" (click)="search()">SEARCH</button>
                  
                    </div>
                    <div *ngIf="message1!=null" class="lsrow">
                        <label class="label2">{{message1}}</label>
                    </div>
                    <div *ngIf="flag1==1" class="lscol">
                        <div class="case">
                        <div class="c1">
                            <label>Case ID:</label>
                            <label>First name:</label>
                            <label> Last name:</label>
                        </div>
                        <div class="c1">
                                <label class="a1">{{caseid}}</label>
                                <label class="a1">{{firstname}}</label>
                                <label class="a1">{{lastname}}</label>
                        </div>
                   
                        </div>
                        <div *ngIf="comment!=null" class="case">
                            <div class="c1">
                                <label>Comment:</label>
                            </div>
                            <div class="c1">
                                <label>{{comment}}</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="rightside" *ngIf="flag1==1">
                    <div class="embpopup">
                        <div class="red" *ngFor="let a of he; let i=index">
                       <div class="prvi">
                        <img src="../../assets/novaplocica90.png" class="heplocica">
                       </div>
                       <div class="drugi">
                       <label class="labplocice"> {{podslovo}}.{{(i+1)}} {{a}}</label>
                       </div>
                       <div class="treci">
                        <button class="printdugme" (click)="print(i)">PRINT</button>
                       </div>
                       <div class="cetvrti">
                        <img src="../../assets/d.png" class="slikakanta" (click)="deleteh(i,i)">
                        <div class="popup" *ngIf="popuph==1">
                            <div class="zaglavlje">
                                <label class="logoz">SMART</label>
                                <label class="logo2z">PATH</label>
                                <label class="logoz">SOFT</label>
                            </div>
                            <h2>Are you sure you want to delete a slide?</h2>
                                <button (click)="YesDH((i-1), (i-1))">YES</button>
                                <button (click)="close()">NO</button>
                        </div>
                        <div class="popup" *ngIf="popup2h==1">
                            <div class="zaglavlje">
                                <label class="logoz">SMART</label>
                                <label class="logo2z">PATH</label>
                                <label class="logoz">SOFT</label>
                            </div>
                            <h2>You can't delete printed slide!</h2>
                                <button (click)="close2()">OK</button>
                        </div>
                       </div>
                       </div>
                       <div class="red" *ngFor="let a of ssihc;let i=index">
                       
                       
                        <div class="prvi">
                            <img src="../../assets/novapl90.png" class="heplocica">
                           </div>
                           <div class="drugi">
                           <label class="labplocice"> {{podslovo}}.{{(he.length+i+1)}} {{ssihc[i]}}</label>
                           </div>
                           <div class="treci">
                            <button class="printdugme" (click)="print((i+he.length))">PRINT</button>
                           </div>
                           <div class="cetvrti">
                            <img src="../../assets/d.png" class="slikakanta" (click)="delete((he.length+i),i)">
                            <div class="popup" *ngIf="popup==1">
                                <div class="zaglavlje">
                                    <label class="logoz">SMART</label>
                                    <label class="logo2z">PATH</label>
                                    <label class="logoz">SOFT</label>
                                </div>
                                <h2>Are you sure you want to delete a slide?</h2>
                                <button (click)="YesD()">YES</button>
                                <button (click)="close()">NO</button>
                            </div>
                            <div class="popup" *ngIf="popup2==1">
                                <div class="zaglavlje">
                                    <label class="logoz">SMART</label>
                                    <label class="logo2z">PATH</label>
                                    <label class="logoz">SOFT</label>
                                </div>
                                <h2>You can't delete printed slide!</h2>
                                    <button (click)="close2()">OK</button>
                            </div>
                           </div>
                        </div>
                           
                        <div class="ddiv">
                            <button class="donedugme">PRINT ALL</button>
                        </div>
                    </div>
                    <div class="ddiv">
                        <button class="donedugme" (click)="donecase()">DONE CASE</button>
                        <div class="popup" *ngIf="popupdone==1">
                            <div class="zaglavlje">
                                <label class="logoz">SMART</label>
                                <label class="logo2z">PATH</label>
                                <label class="logoz">SOFT</label>
                            </div>
                            <h2>You have to print all slides!</h2>
                                <button (click)="closed()">OK</button>
                        </div>
                    </div>
                </div>
           </div>
           <div>

          

        </div>
       

    </div>
    <div class="footer">
        <p>© M-Rising 2022</p>
      </div>
</div>
</div>
