<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Condensed&display=swap');
    </style>
<div class="container-12">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <label class="logo">SMART</label>
             <label class="logo2">PATH</label>
             <label class="logo">SOFT</label>
            </li>   </ul>
            <div> <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">SENDOUT</label>  </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">{{me.firstname}} {{me.lastname}}</label>  
                
                <label (click)="logout()"  class="stavka3"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;"><a href="/login-sendout">LOGOUT</a></label>      
            </li>   
            </ul>
        
            
                

              
           
     
    
       </nav>
<div class="col-12">
 
    
    <div class="pozadina">
        
      
        <div class="polja">
           <div class="leftside">
               
                    <div class="lscol">
                        <div class="case">
                        <div class="c1">
                            <label>Case ID:</label>
                            <label>First name:</label>
                            <label> Last name:</label>
                        </div>
                        <div class="c1">
                                <label class="a1">{{myCase.formatcn}}</label>
                                <label class="a1">{{myCase.firstname}}</label>
                                <label class="a1">{{myCase.lastname}}</label>
                        </div>
                   
                        </div>
                       <div class="blocks">

                        <div class="oneblock" *ngFor="let a of allcass">
                            <img src="../../assets/касетица.png" class="slika1">
                            <label class="l1">{{a.podslovo}}</label>
                        </div>
                        <div class="oneblock" *ngFor="let a of allexbl">
                            <img src="../../assets/касетица.png" class="slika1">
                            <label class="l1">{{a.slovo}}.1</label>
                        </div>
                       </div>
                    </div>

                </div>