
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Condensed&display=swap');
    </style>
<div class="container-12">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <label class="logo">SMART</label>
             <label class="logo2">PATH</label>
             <label class="logo">SOFT</label>
            </li>   </ul>
            <div> <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;"><a href="/pathdash">PATHOLOGIST</a></label>  </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <label  class="stavka2"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;">{{me.firstname}} {{me.lastname}}</label>  
                
                <label (click)="logout()"  class="stavka3"  style="text-align: center; align-self: center;
                align-items: center;
                align-content: center;"><a href="/login-pathologist">LOGOUT</a></label>      
            </li>   
            </ul>
        
            
                

              
           
     
    
       </nav>
<div class="col-12">
 
    
    <div class="pozadina">
        
      
        <div class="polja">
           <div class="leftside">
               
                    <div class="lscol">
                        <div class="case">
                        <div class="c1">
                            <label>Case ID:</label>
                            <label>First name:</label>
                            <label> Last name:</label>
                        </div>
                        <div class="c1">
                                <label class="a1">{{my.formatcn}}</label>
                                <label class="a1">{{my.firstname}}</label>
                                <label class="a1">{{my.lastname}}</label>
                        </div>
                   
                        </div>
                        <div class="lsc1">
                            <div class="ndiv2">
                                <label class="title1">PATIENT INFORMATION</label>
                            </div>
                            <div class="lsc2">
                            <label>Sender type: </label>
                            <label class="l2">{{my.sender}}</label>
                            </div>
                            <div *ngIf="my.sender=='Hospital'" class="lsc2">
                                <label>Hospital ID: </label>
                                <label class="l2">{{my.hospitalid}}</label>
                                </div>
                             <div *ngIf="my.sender=='Personal'" class="lsc2">
                                    <label>Contact: </label>
                                    <label class="l2">{{my.contact}}</label>
                             </div>
                             <div class="lsc2">
                                <label>Address: </label>
                               <label class="l2"> {{my.address}}</label>
                               </div>
                            <div class="lsc2">
                             <label>Date of birth: </label>
                            <label class="l2"> {{my.date}}</label>
                            </div>
                            <div class="lsc2">
                            <label>Personal ID: </label>
                            <label class="l2"> {{my.pid}}</label>
                            </div>
                            <div class="lsc2">
                                <label>LBO:</label>
                               <label class="l2"> {{my.lbo}}</label>
                            </div>
                            <div class="lsc2" *ngIf="my.hnum!=null">
                                <label>Health number: </label>
                               <label class="l2"> {{my.hnum}}</label>
                            </div>
                            <div class="lsc2">
                                <label>Gender:</label>
                               <label class="l2"> {{my.gen}}</label>
                            </div>
                            <div class="lsc2">
                                <label>Diagnosis:</label>
                               <label class="l2"> {{my.diagnosis}}</label>
                               </div>
                            <div class="lsc2" *ngIf="my.adcom != null">
                                <label>Additional comments:</label>
                               <label class="l2"> {{my.adcom}}</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="rightside">
                    <div class="ndiv">
                        <label class="title1">CASSETTES AND SLIDES</label>
                    </div>
                    <div class="rscol">
                        <div class="blocks">

                            <div class="oneblock" *ngFor="let a of allcass; let i=index">
                                <img src="../../assets/касетица.png" class="slika1">
                                <div class="divh">
                                <label class="l1">{{a.podslovo}}</label>
                                </div>
                            </div>
                            <div class="oneblock" *ngFor="let a of allexbl; let i=index">
                                <img src="../../assets/касетица.png" class="slika1">
                                <div class="divh">
                                <label class="l1">{{a.slovo}}1</label>
                                </div>
                            </div>
                           </div>

                           <div class="blocks">

                            <div *ngFor="let a of allslides; let j=index" >
                                <div class="oneblock" *ngFor="let b of a.nizOznaka; let i=index">
                                <img src="../../assets/novapl90.png" class="slika2" (click)="predji(b, a,i)">
                                <div class="divh">
                                <label class="l1" (click)="predji(b, a,i)">{{b}}</label>
                            </div>
                               
                                </div>
                            </div>
                            <div *ngFor="let c of allexslide; let j=index">
                                <div class="oneblock" *ngFor="let b of c.nizOznaka; let i=index">
                                    <img src="../../assets/novapl90.png" class="slika2" (click)="predji2(b,c,i)">
                                    <div class="divh">
                                    <label class="l1" (click)="predji2(b,c,i)">{{b}}</label>
                                    </div>
                                  
                                    </div>
                        </div>
                        </div>
                    </div>
                    <div class="divbutton">
                        <button class="dugme"  (click)="predjinaRep()">REPORTING</button>
                    </div>
                </div>
                </div>
                </div>
                </div>